.announce-detail {
    width: 45vw;
    margin: 2vw auto;
}

.announce-detail__heading {
    text-align: center;
    font-size: 2vw;
}

.announce-detail__content {
    background-color: #fff;
    border-radius: 0.4vw;
    box-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5);
    margin-top: 3vw;
    padding: 3vw 5vw;
}

.announce-detail__content-wrapper:not(:first-of-type) {
    margin-top: 2vw;
}

.announce-detail__subheading {
    color: #000;
    font-size: 1.5vw;
    border-bottom: 0.1vw solid #000;
}

.announce-detail__content-wrapper p {
    color: #000;
    font-size: 1.2vw;
    margin-top: 1vw;
}

.announce-detail__back {
    margin-top: 2vw;
    text-align: right;
}

.announce-detail__link {
    color: #666;
    font-size: 1.2vw;
}

.announce-detail__link:hover {
    color: #305cff;
}

@media screen and (max-width: 768px) {
    .header {
        height: 5vw;
    }

    .modal-menu__close {
        left: 5vw;
    }

    .announce-detail {
        width: 90vw;
        margin: 0 auto 3vw;
    }

    .announce-detail__heading {
        font-size: 3.8vw;
    }

    .announce-detail__content {
        border-radius: 0.8vw;
        box-shadow: 0.4vw 0.4vw 0.4vw rgba(0, 0, 0, 0.5);
        margin-top: 6vw;
        padding: 6vw 10vw;
    }

    .announce-detail__content-wrapper:not(:first-of-type) {
        margin-top: 4vw;
    }

    .announce-detail__subheading {
        font-size: 3vw;
    }

    .announce-detail__content-wrapper p {
        font-size: 2.4vw;
        margin-top: 2vw;
    }

    .announce-detail__back {
        margin-top: 4vw;
    }

    .announce-detail__link {
        font-size: 2.4vw;
    }
}