.modal-menu__close {
    left: 5vw;
}

.menu-edit {
    width: 90vw;
    margin: 2vw auto;
}

.menu-edit__heading {
    text-align: center;
    font-size: 2vw;
}

.menu-edit__contents {
    display: flex;
    width: 100%;
    gap: 7vw;
    margin-top: 3vw;
}

.menu-edit__contents-wrapper {
    width: 41.5vw;
}

.menu-edit__subheading {
    text-align: center;
    font-size: 1.5vw;
}

.menu-edit__form {
    border-radius: 0.4vw;
    margin-top: 3vw;
    padding: 3vw 4vw;
}

/* 作成 */
.menu-edit__form--create {
    position: relative;
    background-color: #305cff;
    height: 18vw;
}

.menu-edit__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vw;
}

.menu-edit__form-group:not(:first-of-type) {
    margin-top: 1.5vw;
}

.menu-edit__form-group:nth-of-type(2) {
    position: relative;
}

.menu-edit__form-group p {
    color: #fff;
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.menu-edit__form-input {
    border: none;
    font-size: 1vw;
    border-radius: 0.2vw;
    height: 2.5vw;
    padding: 0 0.8vw;
}

.menu-edit__form-input--price {
    padding: 0 2vw;
}

.menu-edit__form-yen-sign {
    position: absolute;
    left: 0.7vw;
    bottom: 0.6vw;
    font-weight: bold;
    font-size: 1.2vw;
}

.menu-edit__form-button {
    all: unset;
    color: #fff;
    background-color: #1d49ed;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    font-size: 1.5vw;
    border-radius: 0 0 0.4vw 0.4vw;
    padding: 1vw 0;
}

.menu-edit__form-button:hover {
    background-color: #0538ff;
}

/* 更新 */
.menu-edit__form--update {
    background-color: #fff;
    box-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5);
}

.menu-edit__table {
    width: 100%;
}

.menu-edit__table-row {
    display: block;
    height: 2vw;
    line-height: 2vw;
}

.menu-edit__table thead tr {
    border-bottom: 0.1vw solid #aaa;
    font-size: 1.3vw;
}

.menu-edit__table tbody tr {
    margin-top: 1vw;
}

.menu-edit__table-row td:first-of-type {
    width: 18vw;
}

.menu-edit__table-row td:nth-of-type(2) {
    position: relative;
    width: 12vw;
}

.menu-edit__table-row td:nth-of-type(3) {
    width: 3.6vw;
}

.menu-edit__table-input {
    border: none;
    background-color: #edf2fa;
    border-radius: 0.2vw;
    font-size: 1vw;
    padding: 0.4vw;
}

.menu-edit__table-input--name {
    width: 16.5vw;
}

.menu-edit__table-input--price {
    padding: 0.4vw 1.5vw;
    width: 8.5vw;
}

.menu-edit__table-yen-sign {
    position: absolute;
    font-size: 1vw;
    left: 0.5vw;
    top: 0.1vw;
}


.menu-edit__table-button {
    all: unset;
    display: block;
    background-color:#4366eb;
    color: #fff;
    cursor: pointer;
    border-radius: 0.2vw;
    font-size: 1vw;
    padding: 0 0.7vw;
}

.menu-edit__table-button:hover {
    background-color: #305cff;
}

@media screen and (max-width: 768px) {
    .header {
        height: 5vw;
    }

    .modal-menu__close {
        left: 4vw;
    }

    .menu-edit {
        margin: 0 auto 6vw;
    }

    .menu-edit__heading {
        font-size: 3.7vw;
    }

    .menu-edit__contents {
        display: block;
        gap: 0;
        margin-top: 6vw;
    }

    .menu-edit__contents-wrapper {
        width: 100%;
    }

    .menu-edit__subheading {
        font-size: 3vw;
    }

    .menu-edit__form {
        border-radius: 0.8vw;
        margin-top: 6vw;
        padding: 6vw 8vw;
    }

    /* 作成 */
    .menu-edit__form--create {
        height: 36vw;
    }

    .menu-edit__form-group {
        margin-bottom: 1vw;
    }

    .menu-edit__form-group:not(:first-of-type) {
        margin-top: 3vw;
    }

    .menu-edit__form-group p {
        font-size: 2.6vw;
        margin-bottom: 2vw;
    }

    .menu-edit__form-input {
        font-size: 2vw;
        border-radius: 0.4vw;
        height: 5vw;
        padding: 0 1.6vw;
    }

    .menu-edit__form-input--price {
        padding: 0 4vw;
    }

    .menu-edit__form-yen-sign {
        left: 1.4vw;
        bottom: 1.2vw;
        font-size: 2.4vw;
    }

    .menu-edit__form-button {
        font-size: 3vw;
        border-radius: 0 0 0.8vw 0.8vw;
        padding: 2vw 0;
    }

    /* 更新 */
    .menu-edit__contents-wrapper:not(:first-of-type) {
        margin-top: 6vw;
    }

    .menu-edit__form--update {
        box-shadow: 0.4vw 0.4vw 0.4vw rgba(0, 0, 0, 0.5);
    }

    .menu-edit__table-row {
        height: 4vw;
        line-height: 4vw;
    }

    .menu-edit__table thead tr {
        font-size: 2.6vw;
    }

    .menu-edit__table tbody tr {
        margin-top: 2vw;
    }

    .menu-edit__table-row td:first-of-type {
        width: 39vw;
    }

    .menu-edit__table-row td:nth-of-type(2) {
        position: relative;
        width: 29vw;
    }

    .menu-edit__table-row td:nth-of-type(3) {
        width: 7.5vw;
    }

    .menu-edit__table-input {
        border-radius: 0.4vw;
        font-size: 2vw;
        padding: 0.8vw;
    }

    .menu-edit__table-input--name {
        width: 35vw;
    }

    .menu-edit__table-input--price {
        padding: 0.8vw 3vw;
        width: 21vw;
    }

    .menu-edit__table-yen-sign {
        font-size: 2vw;
        left: 1vw;
        top: 0.2vw;
    }

    .menu-edit__table-button {
        border-radius: 0.4vw;
        font-size: 2vw;
        padding: 0 1.4vw;
    }
}