.reservation-detail {
    width: 45vw;
    margin: 2vw auto;
}

.reservation-detail__heading {
    text-align: center;
    font-size: 2vw;
}

.reservation-detail__wrapper {
    position: relative;
}

.reservation-detail__table {
    display: flex;
    flex-direction: row;
    background-color: #305cff;
    color: #fff;
    height: 32vw;
    border-radius: 0.4vw;
    margin-top: 3vw;
    font-size: 1.5vw;
    padding: 3vw 5vw;
}

.reservation-detail__table-row {
    display: flex;
    flex-direction: column;
}

.reservation-detail__table-row:first-of-type {
    text-align: left;
    margin-right: 6vw;
}

.reservation-detail__table-row th:not(:first-of-type),
.reservation-detail__table-row td:not(:first-of-type) {
    margin-top: 2vw;
}

.reservation-detail__button {
    all: unset;
    color: #fff;
    background-color: #1d49ed;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    font-size: 1.5vw;
    border-radius: 0 0 0.4vw 0.4vw;
    padding: 1vw 0;
}

.reservation-detail__button:hover {
    background-color: #0538ff;
}

.reservation-detail__back {
    margin-top: 2vw;
    text-align: center;
}

.reservation-detail__link {
    color: #666;
    font-size: 1.2vw;
}

.reservation-detail__link:hover {
    color: #305cff;
}

.modal-menu__close {
    left: 5vw;
}

@media screen and (max-width: 768px) {
    .header {
        height: 5vw;
    }

    .modal-menu__close {
        left: 5vw;
    }

    .reservation-detail {
        width: 90vw;
        margin: 0 auto 3vw;
    }

    .reservation-detail__heading {
        text-align: center;
        font-size: 3.8vw;
    }

    .reservation-detail__table {
        display: flex;
        flex-direction: row;
        background-color: #305cff;
        color: #fff;
        height: 64vw;
        border-radius: 0.8vw;
        margin-top: 4vw;
        font-size: 3vw;
        padding: 6vw 10vw;
    }

    .reservation-detail__table-row {
        display: flex;
        flex-direction: column;
    }

    .reservation-detail__table-row:first-of-type {
        text-align: left;
        margin-right: 12vw;
    }

    .reservation-detail__table-row th:not(:first-of-type),
    .reservation-detail__table-row td:not(:first-of-type) {
        margin-top: 4vw;
    }

    .reservation-detail__button {
        font-size: 3vw;
        border-radius: 0 0 0.8vw 0.8vw;
        padding: 2vw 0;
    }

    .reservation-detail__back {
        margin-top: 4vw;
    }

    .reservation-detail__link {
        font-size: 2.4vw;
    }
}