.shop-edit {
    margin: 2vw auto;
    width: 90vw;
}

.shop-edit__heading {
    text-align: center;
    font-size: 2vw;
}

.shop-edit__contents {
    display: flex;
    width: 100%;
    gap: 7vw;
    margin-top: 3vw;
}

.shop-edit__contents-wrapper {
    width: 41.5vw;
}

.shop-edit__subheading {
    text-align: center;
    font-size: 1.5vw;
}

.shop-edit__form,
.shop-edit__confirmation {
    background-color: #305cff;
    border-radius: 0.4vw;
    margin-top: 3vw;
    padding: 3vw 4vw;
}

/* 編集 */
.shop-edit__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vw;
}

.shop-edit__form-group:not(:first-of-type) {
    margin-top: 1.5vw;
}

.shop-edit__form-group p {
    color: #fff;
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.shop-edit__input,
.shop-edit__select,
.shop-edit__textarea {
    border: none;
    font-size: 1vw;
    border-radius: 0.2vw;
}

.shop-edit__input,
.shop-edit__select {
    height: 2.5vw;
    padding: 0 0.8vw;
}

.shop-edit__label--image-select {
    background-color: #fff;
    cursor: pointer;
    font-size: 1vw;
    height: 2.5vw;
    line-height: 2.5vw;
    padding: 0 0.8vw;
    border-radius: 0.2vw;
}

.shop-edit__input--image {
    display: none;
}

.shop-edit__form-group:nth-of-type(2),
.shop-edit__form-group:nth-of-type(3),
.shop-edit__form-group:nth-of-type(4) {
    position: relative;
}

.shop-edit__form-group:nth-of-type(2):after,
.shop-edit__form-group:nth-of-type(3):after,
.shop-edit__form-group:nth-of-type(4):after {
    content: "";
    position: absolute;
    right: 1vw;
    top: 75%;
    transform: translateY(-50%);
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
    border-top: 0.5vw solid transparent;
    clip-path: polygon(0% 0%, 50% 30%, 100% 0%, 50% 100%, 0% 0%);
    background-color: #ddd;
    height: 0.3vw;
    pointer-events: none;
}

.shop-edit__select {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

.shop-edit__textarea {
    height: 8vw;
    padding: 0.8vw;
    line-height: 1.5;
}

/* 確認 */
.shop-edit__confirmation {
    background-color: #fff;
    position: relative;
    height: 41vw;
}

.shop-edit__shop-name {
    font-weight: bold;
    font-size: 1.3vw;
    line-height: 1.5;
    margin-bottom: 1.5vw;
}

.shop-edit__shop-image {
    overflow: hidden;
    width: 100%;
    height: 20vw;
    margin-bottom: 1.5vw;
}

.shop-edit__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.shop-edit__image--visible {
    display: block;
}

.shop-edit__shop-area,
.shop-edit__shop-genre {
    display: inline-block;
    font-size: 1vw;
}

.shop-edit__shop-summary {
    font-size: 1vw;
    margin-top: 1.5vw;
    line-height: 1.7;
}

.shop-edit__button {
    all: unset;
    color: #fff;
    background-color: #1d49ed;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
    font-size: 1.5vw;
    border-radius: 0 0 0.4vw 0.4vw;
    padding: 1vw 0;
}

.shop-edit__button:hover {
    background-color: #0538ff;
}

@media screen and (max-width: 768px) {
    .header {
        height: 5vw;
    }

    .shop-edit {
        margin: 0 auto 6vw;
    }

    .shop-edit__heading {
        font-size: 3.7vw;
    }

    .shop-edit__contents {
        display: block;
        gap: 0;
        margin-top: 6vw;
    }

    .shop-edit__contents-wrapper {
        width: 100%;
    }

    .shop-edit__contents-wrapper:not(:first-of-type) {
        margin-top: 5vw;
    }

    .shop-edit__subheading {
        font-size: 3vw;
    }

    .shop-edit__form,
    .shop-edit__confirmation {
        border-radius: 0.8vw;
        margin-top: 6vw;
        padding: 6vw 8vw;
    }

    /* 編集 */
    .shop-edit__form-group {
        margin-bottom: 1vw;
    }

    .shop-edit__form-group:not(:first-of-type) {
        margin-top: 3vw;
    }

    .shop-edit__form-group p {
        font-size: 2.6vw;
        margin-bottom: 2vw;
    }

    .shop-edit__input,
    .shop-edit__select,
    .shop-edit__textarea {
        font-size: 2vw;
        border-radius: 0.4vw;
    }

    .shop-edit__input,
    .shop-edit__select {
        height: 5vw;
        padding: 0 1.6vw;
    }

    .shop-edit__label--image-select {
        font-size: 2vw;
        height: 5vw;
        line-height: 5vw;
        padding: 0 1.6vw;
        border-radius: 0.4vw;
    }

    .shop-edit__form-group:nth-of-type(2):after,
    .shop-edit__form-group:nth-of-type(3):after,
    .shop-edit__form-group:nth-of-type(4):after {
        right: 2vw;
        top: 75%;
        transform: translateY(-50%);
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        border-top: 1vw solid transparent;
        clip-path: polygon(0% 0%, 50% 30%, 100% 0%, 50% 100%, 0% 0%);
        background-color: #ddd;
        height: 0.6vw;
        pointer-events: none;
    }

    .shop-edit__textarea {
        height: 16vw;
        padding: 1.6vw;
    }

    /* 確認 */
    .shop-edit__confirmation {
        height: 80vw;
    }

    .shop-edit__shop-name {
        font-size: 2.6vw;
        margin-bottom: 3vw;
    }

    .shop-edit__shop-image {
        height: 40vw;
        margin-bottom: 3vw;
    }

    .shop-edit__shop-area,
    .shop-edit__shop-genre {
        font-size: 2vw;
    }

    .shop-edit__shop-summary {
        font-size: 2vw;
        margin-top: 3vw;
        line-height: 1.7;
    }

    .shop-edit__button {
        all: unset;
        color: #fff;
        background-color: #1d49ed;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;
        width: 100%;
        font-size: 3vw;
        border-radius: 0 0 0.8vw 0.8vw;
        padding: 2vw 0;
    }
}