.detail {
    display: flex;
    margin: 2vw auto;
    width: 90vw;
    gap: 5vw;
}

.detail__content {
    width: 42.5vw;
}

.content__name {
    display: flex;
    align-items: center;
}

.content__name a {
    background-color: #fff;
    text-decoration: none;
    color: #000;
    font-size: 1.7vw;
    border-radius: 0.4vw;
    padding: 0.3vw 0.8vw 0.5vw 0.8vw;
    box-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5);
}

.content__name h2 {
    font-size: 1.8vw;
    margin-left: 1vw;
}

.content__image {
    background-color: #ccc;
    overflow: hidden;
    width: 100%;
    height: 26vw;
    margin-top: 1.7vw;
}

.content__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__description {
    margin-top: 2vw;
}

.description__area,
.description__genre {
    display: inline-block;
    font-size: 1vw;
}

.description__summary {
    margin-top: 2.1vw;
    font-size: 1.1vw;
    line-height: 1.7;
}

.description__menu {
    margin: 2.1vw 0 0 1vw;
    font-size: 1.1vw;
}

.description__menu li:not(:first-of-type) {
    margin-top: 1vw;
}

.detail__reservation {
    position: relative;
    background-color: #305cff;
    width: 42.5vw;
    height: 53vw;
    border-radius: 0.4vw;
}

.reservation__form {
    padding: 2vw 2.5vw;;
}

.reservation__title {
    color: #fff;
    font-size: 1.8vw;
}

.reservation__field {
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
    margin-top: 2vw;
}

.input__date,
.select__time,
.select__number,
.select__menu,
.select__payment {
    border: none;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 0.4vw;
    padding: 0.5vw;
}

.field__input {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 35%;
}

.input__date {
    width: 100%;
    padding: 0.5vw 1vw;
}

.input__date::placeholder {
    color: #000;
}

.input__calendar {
    all: unset;
    cursor: pointer;
    position: absolute;
    color: #999;
    font-size: 1vw;
    right: 1vw;
}

.field__select {
    position: relative;
}

.field__select:after {
    content: "";
    position: absolute;
    right: 1vw;
    top: 50%;
    transform: translateY(-50%);
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
    border-top: 0.5vw solid transparent;
    clip-path: polygon(0% 0%, 50% 30%, 100% 0%, 50% 100%, 0% 0%);
    background-color: #ddd;
    height: 0.3vw;
    pointer-events: none;
}

.select__time,
.select__number,
.select__menu,
.select__payment {
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 100%;
    padding: 0.5vw 1vw;
}

.reservation__confirmation {
    background-color: #4D7EFD;
    color: #fff;
    margin-top: 1.3vw;
    border-radius: 0.4vw;
}

.confirmation__table {
    display: flex;
    flex-direction: row;
    font-size: 1vw;
    padding: 1.7vw;
}

.confirmation__table tr {
    display: flex;
    flex-direction: column;
}

.confirmation__table tr:first-of-type {
    text-align: left;
    margin-right: 4vw;
}

.confirmation__table th:not(:first-of-type),
.confirmation__table td:not(:first-of-type) {
    margin-top: 1.3vw;
}

.reservation__button {
    all: unset;
    color: #fff;
    background-color: #1d49ed;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 1.5vw;
    border-radius: 0 0 0.4vw 0.4vw;
    padding: 1vw 0;
}

.reservation__button:hover {
    background-color: #0538ff;
}

.modal-menu__close {
    left: 5vw;
}

@media screen and (max-width: 768px) {
    .header {
        height: 5vw;
    }

    .detail {
        display: block;
        margin: 0 auto;
    }

    .detail__content {
        width: 100%;
    }

    .content__name a {
        font-size: 3.5vw;
        border-radius: 0.8vw;
        padding: 0.3vw 1.2vw 0.6vw 1.2vw;
        box-shadow: 0.4vw 0.4vw 0.4vw rgba(0, 0, 0, 0.5);
    }

    .content__name h2 {
        font-size: 3vw;
        margin-left: 1vw;
    }

    .content__image {
        height: 50vw;
        margin-top: 3vw;
    }

    .content__description {
        margin-top: 5vw;
    }

    .description__area,
    .description__genre {
        font-size: 2.2vw;
    }

    .description__summary {
        margin-top: 4vw;
        font-size: 2.2vw;
        line-height: 2;
    }

    .description__menu {
        margin: 4vw 0 0 2.5vw;
        font-size: 2.2vw;
    }

    .description__menu li:not(:first-of-type) {
        margin-top: 2.5vw;
    }

    .detail__reservation {
        margin: 5vw 0;
        width: 100%;
        height: 105vw;
        border-radius: 0.8vw;
    }

    .reservation__form {
        padding: 3vw 4vw;;
    }

    .reservation__title {
        font-size: 3vw;
    }

    .reservation__field {
        gap: 1.5vw;
        margin-top: 4vw;
    }

    .input__date,
    .select__time,
    .select__number,
    .select__menu,
    .select__payment {
        font-size: 2.2vw;
        border-radius: 0.8vw;
    }

    .input__date {
        width: 100%;
        padding: 1vw 2vw;
    }

    .input__calendar {
        font-size: 2vw;
        right: 2vw;
    }

    .field__select:after {
        right: 2vw;
        top: 50%;
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        border-top: 1vw solid transparent;
        height: 0.6vw;
    }

    .select__time,
    .select__number,
    .select__menu,
    .select__payment {
        padding: 1vw 2vw;
    }

    .reservation__confirmation {
        margin: 2.5vw 0;
        border-radius: 0.8vw;
    }

    .confirmation__table {
        font-size: 2.2vw;
        padding: 3vw;
    }

    .confirmation__table tr:first-of-type {
        margin-right: 5vw;
    }

    .confirmation__table th:not(:first-of-type),
    .confirmation__table td:not(:first-of-type) {
        margin-top: 2.5vw;
    }

    .reservation__button {
        font-size: 3vw;
        border-radius: 0 0 0.8vw 0.8vw;
        padding: 2vw 0;
    }

    .modal-menu__close {
        left: 4vw;
    }
}