.shop-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2vw auto;
    width: 90vw;
    gap: 1.6vw;
}

.shop-list__card {
    background-color: #fff;
    width: 21.3vw;
    height: 20vw;
    border-radius: 0.4vw;
    box-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5);
}

.shop-list__image {
    background-color: #ccc;
    overflow: hidden;
    width: 100%;
    border-radius: 0.4vw 0.4vw 0 0;
    height: 11vw;
}

.shop-list__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop-list__content {
    position: relative;
    height: 6.4vw;
    padding: 1.3vw;
}

.shop-list__name {
    font-size: 1.5vw;
}

.shop-list__area {
    margin-top: 0.7vw;
}

.shop-list__area,
.shop-list__genre {
    display: inline-block;
    font-size: 1vw;
}

.shop-list__detail {
    text-decoration: none;
    color: #fff;
    background-color: #4366eb;
    position: absolute;
    left: 1.3vw;
    bottom: 1.3vw;
    padding:  0.5vw 1vw;
    border-radius: 0.4vw;
    font-size: 1.1vw;
}

.shop-list__detail:hover {
    background-color: #305cff;
}

.shop-list__favorite {
    all: unset;
    cursor: pointer;
    position: absolute;
    right: 1.3vw;
    bottom: 1.3vw;
}

.bi-suit-heart-fill {
    font-size: 2.4vw;
    color: #ccc;
}

.bi-suit-heart-fill--red {
    color: red;
}

.shop-list__rating {
    display: flex;
    align-items: center;
    position: absolute;
    right: 1.3vw;
    bottom: 4.4vw;
    gap: 0.2vw;
    font-size: 1.5vw;
    color: #FFD700;
}

.modal-menu__close {
    left: 4.5vw;
}

@media screen and (max-width: 768px) {
    .header {
        height: 13vw;
    }

    .shop-list {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto 6vw;
        gap: 2vw;
    }

    .shop-list__card {
        width: 44vw;
        height: 40vw;
        border-radius: 0.8vw;
        box-shadow: 0.4vw 0.4vw 0.4vw rgba(0, 0, 0, 0.5);
    }

    .shop-list__image {
        border-radius: 0.8vw 0.8vw 0 0;
        height: 23vw;
    }

    .shop-list__content {
        height: 13vw;
        padding: 2vw;
    }

    .shop-list__name {
        font-size: 3vw;
    }

    .shop-list__area {
        margin-top: 1.5vw;
    }

    .shop-list__area,
    .shop-list__genre {
        font-size: 2vw;
    }

    .shop-list__detail {
        left: 2vw;
        bottom: 2vw;
        padding:  1vw 2vw;
        border-radius: 0.8vw;
        font-size: 2.5vw;
    }

    .shop-list__favorite {
        right: 2vw;
        bottom: 2vw;
    }

    .bi-suit-heart-fill {
        font-size: 4.8vw;
    }

    .shop-list__rating {
        right: 2vw;
        bottom: 8.5vw;
        gap: 0.4vw;
        font-size: 3vw;
    }

    .modal-menu__close {
        left: 4vw;
    }
}
